body {
    padding: 20px;
    min-height: 100%;
    background: #f6f6f2;
    width: 80%;
    float: right;
}

.line {
  background: #388087;
  height: 3px;
}

header {
  color: #6FB3B8;
  padding-bottom: 10px;
  margin-bottom: auto;
}

aside {
    float: left;
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    padding-left: 20px;
    color: #F6F6F2;
    background: #388087;
    border-right: 3px solid #BADFE7
}

aside ul {
    padding-top: 2%;
    list-style: none;
}

aside ul li {
    display: block;
    margin-top: 20px;
    transition: transform .6s ease;
}

aside ul li a {
    text-decoration: none;
    color: #F6F6F2;
}

aside ul li:hover, aside ul a:hover {
    color: #FDB515;
    transform: scale(1.05);
}


footer {
   font-weight: lighter;
   text-align: start;
   margin-top: auto;
   float: bottom;
}

.student-info {
   list-style: none;
   padding-top: 10px;
   color: #6FB3B8;
}

.page {
    overflow: hidden;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

main {
    color: #388087;
}

.home_img {
    float: right;
    padding: 30px  80px 80px;
    width: 50%;
    height: auto;
}

.skill_list p {
    width: 100%;
    color: #111111;
    text-align: center;
}

.skill_list a {
    color: #111111;
    text-align: center;
    text-decoration: none;
}

.skill_list {
    position: page;
    font-size: 25px;
}

.skill_list div {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    float: left;
    width: 13%;
    height: 200px;
    margin: 100px;
}

.skills_img {
    width: 100%;
}

