{% extends 'main/main.html' %}
{% load static %}
{% block title %} {{ geographypage.title }} {% endblock %}

{% block content %}
    <div style="text-align: center">
        {{ geographypage.text|safe }}
        {{ geographypage.table|safe }}
        <h3 style="color: #45A29E; margin-top:30px;">Информация в графиках</h3>
        <p style="margin-top:30px; margin-bottom: 30px">  Для более удобного восприятия информации эти же данные мы
            так же представляем в виде графиков. </p>
        <img width="70%" src="{{ geographypage.graph.url }}" alt="Статистика по зарплате и доле вакансий в разных городах"
        style="margin-bottom: 30px;"/>
        <h3 style="color: #45A29E; margin-top: 30px;">Результат анализа</h3>
            <p style="margin-top: 30px; margin-bottom: 30px;">
                Данный анализ показывает, что наибольшего размера зарплату специалисты UX/UI дизайна получают в Киеве, в то время как популярнее всего эта вакансия в Москве.
            </p>
    </div>
{% endblock %}