{% extends 'main/main.html' %}
{% load static %}
{% block title %} {{ skillspage.title }} {% endblock %}
{% block content %}
    <div>
        <h2 style="margin-top: 30px; color: #45A29E; font-size: 36px">Необходимые UX/UI дизайнеру навыки</h2>
        <p style="margin-top: 20px;">
            Ни для кого не секрет, что с каждым годом различные сферы деятельности человека стремительно развиваются.
            Появляются новые технологии, новые решения старых проблем. И с каждым годом это время бежит всё быстрее
            и быстрее. Поэтому многим, даже всем, специалистат стоит ежегодно развиваться, расширяя сферу своих
            возможностей и прокачивая новые скиллы.
        </p>
        <p style="margin-top: 20px;">
            Чтобы понять, какие скиллы нужны UX/UI дизайнерам сейчас, а какие уже стремительно уходят в прошлое, была
            составлена таблица, совмещающая в себе данные о том, какие навыки были особенно актуальны в года с 2005
            по 2022.
        </p>
        {{ skillspage.text|safe }}
        <p style="margin-top: 20px; margin-bottom: 20px;">
            Данная таблица поможет сформировать свое представление о необходимых сейчасх скиллах и даже составить
            предсказание на будущее :)
        </p>
    </div>
{% endblock %}