{% extends 'main/main.html' %}
{% load static %}
{% block title %} {{ skillspage.title }} {% endblock %}
{% block content %}
<h2 style="margin-top: 30px; color: #45A29E; font-size: 36px">Необходимые UX/UI дизайнеру навыки</h2>
<section class="skills_introduction">
    <p style="margin-top: 20px;">
        Ни для кого не секрет, что с каждым годом различные сферы деятельности человека стремительно развиваются.
        Появляются новые технологии, новые решения старых проблем. И с каждым годом это время бежит всё быстрее
        и быстрее. Поэтому многим, даже всем, специалистам необходимо ежегодно развиваться, расширяя сферу своих
        возможностей и прокачивая новые скиллы.
    </p>
    <p style="margin-top: 20px;">
        Чтобы понять, какие навыки нужны UX/UI дизайнерам сейчас, а какие уже стремительно уходят в прошлое, была
        составлена таблица, совмещающая в себе данные о том, какие навыки были особенно актуальны в года с 2005
        по 2022.
    </p>
</section>
<section class="skills_table">
    <h3 style="color: #45A29E; margin-top:30px;">Топ-10 востребованных скиллов по годам</h3>
    {{ skillspage.text|safe }}
    {{ skillspage.result|safe }}
</section>
{% endblock %}