<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<section class="section-first">
    <p class="introduction">
        От удобства и простоты сервиса для доставки еды или сайта маркетплейса зависит, вернётся ли клиент снова за
        покупками или навсегда перестанет пользоваться этими продуктами. А по данным совместного исследования Google и
        MTM, и вовсе 74% пользователей удаляют приложения именно из-за недовольства интерфейсом.
    </p>
    <p class="introduction">
        За такую важную доступность, логику и красоту сайта или приложения отвечает именно UX/UI-дизайнер. Именно
        этой професси посвящен данный сайт.
    </p>
    <p class="introduction">
        Добро пожаловать!
    </p>
    <h3 class="section-first headline"
        style="margin-top: 30px; color: #45A29E; font-size: 24px">Что такое UX/UI?</h3>
    <p class="section-first p-first"
       style="margin-top: 30px;">
        Аббревиатура UX расшифровывается как <span style="color: #45A29E">user experience</span> ― «пользовательский опыт». Простыми словами, это то, каким
        образом пользователь взаимодействует с интерфейсом и насколько сайт или приложение для него удобны.
        UX/UI-дизайнеры востребованы в IT-сфере, поскольку интерфейсы, которые готовят программисты, должны быть не
        только красивы, но и понятны.
    </p>
    <p class="section-first p-second"
    style="margin-top: 20px;">
        В UX входит навигация по сайту, функционал меню и результат взаимодействия со страницами. Это не только
        «костяк» сайта ― его структура, ― но и коммуникация: диалоговые окна, функционал кнопок, настройки поиска и форм.
        Именно  от качества UX зависит то, насколько быстро пользователь сможет получить то, зачем он пришёл на сайт.
    </p>
    <p class="section-first p-third" style="margin-top: 20px;">
        UI ― это <span style="color: #45A29E">user interface</span>, пользовательский интерфейс, проще говоря ― оформление сайта: сочетания цветов,
        шрифты, иконки и кнопки.
    </p>
    <p class="section-first p-fourth" style="margin-top: 20px;">
        UX ― это функционал интерфейса, UI ― его внешний вид.
        Одна часть не может существовать без другой. Сейчас трудно себе представить, что можно разрабатывать интерфейс
        и не задумываться о том, как он будет выглядеть, и наоборот — оформлять UI в отрыве от проектирования UX.
    </p>
    <p class="section-first p-fifth" style="margin-top: 20px;">
        Дизайнер, который работает сразу над UX и UI, чаще всего называется дизайнером интерфейсов, либо
        UX/UI-дизайнером. Он ведёт весь процесс разработки интерфейса от этапа получения задачи до тестирования
        прототипа.
    </p>
</section>

<section class="section-second">
    <h3 class="section-second headline"
        style="margin-top: 30px; color: #45A29E; font-size: 24px">
        Кому подойдёт профессия UX/UI-дизайнера?
    </h3>
    <p class="section-second p-first"
     style="margin-top: 30px;">
        Скорее всего профессия подойдёт тем, у кого аналитический склад ума, есть желание систематизировать, наполнять
        вещи вокруг смыслом, оптимизировать и понятно доносить, докапываться до сути.
    </p>
    <p class="section-second p-second"
    style="margin-top: 20px;">
        UX/UI-дизайнер в работе ориентируется на то, чтобы улучшать жизнь пользователей. У него высокий уровень
        эмпатии, он умеет работать в команде, спрашивать и слушать, общается на одном языке с людьми из различных
        областей и понимает, у кого что надо спросить:</p>
        <ul class="section-second communications-list"
        style="margin-top: 20px; list-style: none">
            <li class="communcation"><i class="fa-regular fa-circle-dot"></i>
                <span style="padding-left: 10px"></span>
                с клиентами и продакт-менеджерами — про бизнес и маркетинг,
            </li>
            <li class="communcation"><i class="fa-regular fa-circle-dot"></i>
                <span style="padding-left: 10px"></span>
                с аналитиками данных — про исследования,
            </li>
            <li class="communcation"><i class="fa-regular fa-circle-dot"></i>
                <span style="padding-left: 10px"></span>
                с UX-писателями — про инфостиль,
            </li>
            <li class="communcation"><i class="fa-regular fa-circle-dot"></i>
                <span style="padding-left: 10px"></span>
                с разработчиками — про внедрение и тестирование,
            </li>
            <li class="communcation"><i class="fa-regular fa-circle-dot"></i>
                <span style="padding-left: 10px"></span>
                с пользователями — про их проблемы, опыт и задачи.
            </li>
        </ul>
</section>
</body>
</html>