<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Данные о вакансиях</h3>
<div class="row" style="padding: 1% 13% 1% 13%">
  <div class="col">
    <table class="table table-bordered">
      <tr>
        <th><strong>Год</strong></th>
        <th><strong>Востребованные скиллы</strong>
        </th>
      </tr>
      <tr>
        <th>2015</th>
        <th>
            1. Linux<br>
            2. MySQL<br>
            3. Git<br>
            4. JavaScript<br>
            5. HTML<br>
            6. PHP<br>
            7. jQuery<br>
            8. CSS<br>
            9. HTML5<br>
            10. SQL<br>
        </th>
      </tr>
      <tr>
        <th>2016</th>
        <th>
            1. Linux<br>
            2. Adobe Photoshop<br>
            3. Git<br>
            4. JavaScript<br>
            5. MySQL<br>
            6. HTML<br>
            7. PHP<br>
            8. CSS<br>
            9. jQuery<br>
            10. Web-дизайн<br>
        </th>
      </tr>
        <tr>
        <th>2017</th>
        <th>
            1. Linux<br>
            2. Git<br>
            3. JavaScript<br>
            4. MySQL<br>
            5. PHP<br>
            6. HTML<br>
            7. CSS<br>
            8. Adobe Photoshop<br>
            9. HTML5<br>
            10. SQL<br>
        </th>
      </tr>
      <tr>
        <th>2018</th>
        <th>
            1. Linux<br>
            2. Git<br>
            3. JavaScript<br>
            4. MySQL<br>
            5. HTML<br>
            6. CSS<br>
            7. PHP<br>
            8. SQL<br>
            9. HTML5<br>
            10. Администрирование серверов Linux<br>
        </th>
      </tr>
      <tr>
        <th>2019</th>
        <th>
            1. Linux<br>
            2. Git<br>
            3. JavaScript<br>
            4. MySQL<br>
            5. HTML<br>
            6. PHP<br>
            7. CSS<br>
            8. SQL<br>
            9. Python<br>
            10. Администрирование серверов Linux<br>
        </th>
      </tr>
      <tr>
        <th>2020</th>
        <th>
            1. Linux<br>
            2. Git<br>
            3. JavaScript<br>
            4. MySQL<br>
            5. Python<br>
            6. SQL<br>
            7. PostgreSQL<br>
            8. PHP<br>
            9. HTML<br>
            10. CSS<br>
        </th>
      </tr>
        <tr>
        <th>2021</th>
        <th>
            1. Linux<br>
            2. Git<br>
            3. JavaScript<br>
            4. Python<br>
            5. MySQL<br>
            6. PostgreSQL<br>
            7. SQL<br>
            8. HTML<br>
            9. Adobe Photoshop<br>
            10. Английский язык<br>
        </th>
      </tr>
      <tr>
        <th>2022</th>
        <th>
            1. Linux<br>
            2. Adobe Photoshop<br>
            3. Git<br>
            4. Adobe Illustrator<br>
            5. Графический дизайн<br>
            6. JavaScript<br>
            7. CorelDRAW<br>
            8. Python<br>
            9. SQL<br>
            10. Дизайн<br>
        </th>
      </tr>
    </table>
  </div>
</div>
</body>
</html>